body{
    background-image: url(https://png.pngtree.com/background/20210709/original/pngtree-business-calculator-business-technology-blue-background-poster-picture-image_373711.jpg);
    background-size: 100%;
}
strong{
    font-size: 300%;
    color: chartreuse;
}
h1{
    color: red;
}
#submit{
    color: chartreuse;
    font-size: 200%;
    background-color: rgb(248, 35, 67);
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 1%;
    padding-right:5% ;
    border: 10%;
    border-color: black;
}
div{
    color: rgb(195, 244, 20);
    font-size: 130%;
}
#salary{
    color: rgba(244, 228, 7, 0.952);
}
input{
    background-color: rgb(205, 243, 170);
}

